<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<title>{{page_title}}</title>
		<meta description="A model used to classify different types of beans">
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
	</head>
	<body>
		<header>
			<div id="header_boarder">
			<h1>{{title}}</h1>
				<p>{{page_desc}}</p>
			</div>
		</header>
		<main>
			<div id="middle-top">
				<h2>{{title2}}</h2>
				<p>{{p2_1}}</p>
				<p>{{p2_2}}</P>
			</div>
			<div id="middle">
				<h2>{{title3}}</h2>
				<p>{{p3_1}}</p>
				<p>{{p3_2}}</P>
			</div>
			<div id="middle-end">
				<h2>{{title4}}</h2>
				<p>{{p4_1}}</p>
				<p>{{p4_1}}</P>
			</div>
		</main>
<!---------------------------------------------------------------------------------------------------->
			<div class="row">
				<div id="barbunya" class="column">
					<img src="/static/pictures/barbunya.jpg" alt="barbunya">
				</div>
				<div id="bombay" class="column">
					<img src="/static/pictures/Bombay.jpg" alt="bombay">
				</div>
				<div id="cali" class="column">
					<img src="/static/pictures/Cali.jpg" alt="cali">
				</div>
				<div id="dermason" class="column">
					<img src="/static/pictures/Dermason.jpg" alt="dermason">
				</div>
				<div id="horoz" class="column">
					<img src="/static/pictures/Horoz.jpg" alt="horoz">
				</div>
				<div id="seker" class="column">
					<img src="/static/pictures/Seker.jpg" alt="seker">
				</div>
				<div id="sira" class="column">
					<img src="/static/pictures/Sira.jpg" alt="sira">
				</div>
			</div>
<!---------------------------------------------------------------------------------------------------->
		<footer>
		<hr>
		<h3>{{title_end}}</h3>
		<p>{{pend_1}}</p>
		<p>{{pend_2}}</P>
		</footer>
	</body>


</html>
